@charset "utf-8";


/*スライドショー
---------------------------------------------------------------------------*/
/*3枚の画像を囲むブロック*/
#mainimg {
	width: 100%;
	height: 100vh;
	height: 100dvh;
	position: fixed;
	left: 0px;
	top: 0px;
	overflow: hidden;
	z-index: -1;
}

/*３枚の画像の共通設定*/
.slide {
	width: 100%; height: 100%;
	position: absolute; right: 0px; top: 0px;
	display: flex;
	align-items: center;
	opacity: 0;
	transform: scale(1.0);
	transition: opacity 1s, transform 0s 1s;  /*opacity -> 1秒かけて透明に。transform -> 1秒待ってから、0秒で元サイズに戻す*/
}

/* 表示中（activeクラス付与時）の設定 */
.slide.active {
	opacity: 1; /* JSで制御されていますが、念のためCSSでも明示 */
	transform: scale(1.1);  /*110%に拡大*/
	transition: opacity 1s, transform 3s linear;  /*opacity -> 1秒かけて透明に。transform -> 5秒かけて拡大*/
}

/*１枚目画像*/
@media screen and (max-width:700px) { 
	.slide1 {
	background: url('../images/misemae.jpeg') no-repeat center center / cover;	/*１枚目の背景画像の読み込み*/
}

}

.slide1 {
	background: url('../images/misemae.jpeg') no-repeat center center / cover;	/*１枚目の背景画像の読み込み*/
}

.slide2 {
	background: url('../images/Carsberg.jpeg') no-repeat center left / cover;	/*２枚目の背景画像の読み込み*/
}

.slide3 {
	background: url('../images/sakadana.jpeg') no-repeat center right / cover;	/*３枚目の背景画像の読み込み*/
}

.slide4 {
	background: url('../images/darts_beside.jpg') no-repeat center left / cover;	/*4枚目の背景画像の読み込み*/
}


/*端末を縦向きにした際に、読み込む画像を変更したい場合はここで指定します*/
@media (orientation: portrait) {

.slide1 {
	background: url('../images/misemae_2.jpeg') no-repeat center center / cover;
}

.slide2 {
	background: url('../images/Carsberg_2.jpeg') no-repeat center left / cover;
}

.slide3 {
	background: url('../images/sakadana.jpeg') no-repeat center left / cover;
}

.slide4 {
	background: url('../images/darts_vertical.jpg') no-repeat center left / cover;
}

}
